a {
	text-decoration: none;
}

figure img {
	height: 20rem;
	width: 40rem;
}

ul {
	list-style-type: square;
}

/*
		``````````````````````
			Navigation bar
		``````````````````````
*/
.navbar {
	padding: 0rem 1rem;
}

.navbar-item {
	font-size: 1.1rem;
	line-height: 2.25rem;
	margin-left: 1rem;
}

.navbar-item img {
	height: 1.5rem;
	width: 1.5rem;
}

.navbar-link {
	color: white;
	line-height: 3rem;
}

.second-nav .wrap {
	display: inline;
	margin: 1rem;
}

.second-nav {
	background: whitesmoke;
	position: sticky;
	top: 0px;
	z-index: 2;
}


/*
		````````````````````````
			Images section
		````````````````````````
*/
.heading {
	font-size: 2rem;
}

figcaption span {
	background: #00112288;
	border-radius: 1rem;
	color: white;
	line-height: 5px;
	margin: 3rem 0.7rem;
	padding: 0.2rem 0.8rem;
}

.group-img {
	display: flex;
	flex-wrap: wrap;
}


/*
		`````````````````````````
			Contact section
		`````````````````````````
*/
.social {
	margin: 2rem auto;
}

.submit {
	text-align: center;
}

/*
		`````````````````````````
			 media queries
		`````````````````````````
*/
@media (max-width: 1080px){ /*	for Android screen */
	* {
		font-size: 130%;
	}
	span {
		font-size: 80%;	
		padding: 0rem;
	}
	.navbar-brand h1 {
		font-size: 220%;
	}
	.card label,.social i {
		font-size: 110%;
	}
	.wrap {
		font-size: 100%;
	}
}

@media (max-width: 1020px){
	* {
		font-size: 120%;
	}
}

