body {
	margin: 4rem;
} 

a {
	text-decoration: none;
}

img {
	margin: 1rem;
	border-radius: 2rem;
	width: 30%;
	height: 15rem;
}

.navbar-item {
	margin-left: 0.8rem;
}

.head {
	margin: 2rem;
}

.social {
	margin: 2rem auto;
}

.submit {
	text-align: center;
}